node_modules
# - created basic UI for home and about page
# - added admin panel and basic backend code
# - video URL is functional but video upload will work for files with smaller size
# - Enjoy the App!