<div class="" style="margin-top:-30px;margin-left:-30px;">
    <div class="bg-dark text-light " style="display:flex;justify-content: space-between;align-items: center;padding:30px 60px 10px 60px; ">
        <a href="/admin"  style="color:white;font-size:24px;margin-top:-20px;text-decoration:none">videoshark</a>
        
        <ul style='display:flex;justify-content: space-between;align-items: center;text-align: center;list-style-type: none;'>
            <li >
                <a href="/admin" class="active text-light"style="padding:15px;margin-top:15px;font-size:16px">Home</a></li>
                <li><a href="/admin/viewList" class="text-light"style="padding:15px;margin-top:15px;font-size:16px">All videos</a></li>
        </ul>
    </div>


    <br>
    <!-- start -->





    <!-- end -->
</div>

<div class="container">
    <h3>Add a Video</h3>
    <hr style="width:20%;color:grey">
    <form id='addvideoform' >

        <div class="form-group">
            <label class='text-dark' for="">Title</label>
            <input type="text" class="form-control" name="video" id='video' placeholder="Enter video name ..."
                required>
            <br>
            <div class="form-group">
                <label class='text-dark' for="">Upload Thumbnail </label><br>
                <input type="file" name="videoThumbnail" id='videoThumbnail' required>
            </div><br>
              <p>
        <a class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
           Add URL instead
        </a>
    </p>
   <div class="collapse" id="collapseExample">
        <div class="card card-body">
        <br>
    <label  class='text-dark'for="">video Url</label>
    <input id='url' type="text" class="form-control" name="url" minlength="12"  placeholder="Enter video url" >
    
        </div>
    </div>
            <br>
            <div class="form-group">
                <label class='text-dark' for="">Upload video </label><br>
                <input id='VideoUrl' type="file" name="VideoUrl" >
            </div><br>
           
            <!-- <input id='isLocked' type="checkbox" name='isLocked'  /> <label class='text-dark' for="">Lock video status</label> -->
         


            <br>
        </div>

        <button id='lec-upload-button' type="submit" class="btn btn-success hide-item">Add</button>
        <h3 id="add-lec-progress" class="hide-item"></h3>
    </form>
</div>

<script>
    
const addVideoForm=document.getElementById('addvideoform');
const uploadButton=document.getElementById('lec-upload-button');

// const isLockedBtn = document.getElementById('isLocked');
const addLectureProgressValue=document.getElementById('add-lec-progress');
addVideoForm.addEventListener('submit',(e)=>{
    e.preventDefault();
    
    uploadButton.style.visibility='hidden';
    uploadButton.classList.add('hide-item');
    addLectureProgressValue.classList.add('show-item');
    addLectureProgressValue.classList.remove('hide-item');
    const form=new FormData();
   
    form.append('title',e.target.elements.video.value);
    form.append('url', e.target.elements.url.value);
    
    // form.append('lecture',e.target.elements.lecture.value);

 
    // form.append('Demo',e.target.elements.Demo.checked);
    // form.append('Demo',DemoBtn.checked);
    // form.append('isLocked',isLockedBtn.checked);
    form.append('videoThumbnail',e.target.elements.videoThumbnail.files[0]);
    if(e.target.elements.VideoUrl.files[0] != undefined || e.target.elements.VideoUrl.files[0] != null || e.target.elements.VideoUrl.files[0] != ""){
    form.append('VideoUrl',e.target.elements.VideoUrl.files[0]);
    }
    axios
    .post(
      '/admin/upload',
      form,
     { onUploadProgress:(progressEvent)=>{
        addLectureProgressValue.innerHTML=Math.round((progressEvent.loaded*100)/progressEvent.total).toString()+'%';
         console.log(Math.round((progressEvent.loaded*100)/progressEvent.total));

      }}
     
    )
    .then(response => {
        addLectureProgressValue.innerHTML='Uploaded';
        uploadButton.style.visibility='visible';
        window.document.reload();
       
    })
    .catch(err => {
      console.log(err, err.response);
    });
    // console.log(e.target.elements.lectureThumbnail.files[0]);
    // alert(e.target.elements.sectionId.value);
    
})
</script>
