
<div class="" style="margin-top:-30px;margin-left:-30px;">
    <div class="bg-dark text-light " style="display:flex;justify-content: space-between;align-items: center;padding:30px 60px 10px 60px; ">
        <a href="/admin" style="color:white;font-size:24px;margin-top:-20px;text-decoration:none">Admin Panel for shark</a>
        
        <ul style='display:flex;justify-content: space-between;align-items: center;text-align: center;list-style-type: none;'>
            <li >
                <a href="/admin/add" class="active text-light"style="padding:15px;margin-top:15px;font-size:16px" >Add video</a></li>
            <li><a href="/admin/viewList" class="text-light"style="padding:15px;margin-top:15px;font-size:16px">All videos</a></li>
        </ul>
    </div>


    <br>
    <!-- start -->





    <!-- end -->
</div>